<div class="page-header">
  <h1>Invite #<%= @invite.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Rsvp</dt>
  <dd><%= @invite.rsvp %></dd>

  <dt>Game</dt>
  <dd><%= @invite.game_id %></dd>

  <dt>User</dt>
  <dd><%= @invite.user_id %></dd>

</dl>
